#ajaxtable,.querytable {
	border: 1px solid black;
	width: 94%;
	text-align:center;
	border-collapse: collapse;
}
#ajaxtable tr td ,.querytable tr td {
	border: 1px solid black;
}
body,table {
	text-align: center;
}

#ajaxtable tr th {
	border: 1px solid black;
	background-color: #A3BAE9;
}



#ajaxtable .odd {
	background-color: #ECE9D8
}

#ajaxtable .hove {
	background-color: #fbc2e2;
}


.textleft{
	width:30%;
	text-align: left;
}
.textright{
	width:20%;
	text-align: right;
}
.inputtext{
	border:1px solid #ccc; width:120px; padding:4px 6px;
}
.textarea{
	border:1px solid #ccc; width:120px; height:80px; padding:4px 6px;
}
.selecttext{
	border:1px solid #ccc; width:150px; padding:4px 6px;
	text-align: center;
}





