.admin_topbg {
	background-image: url(../images/top/top-right.gif);
	background-repeat: repeat-x;
}
.admin_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	height: 38px;
	width: 100%;
	position: ¹Ì¶¨;
	line-height: 38px;
}